html, body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

p {
    color: #334A52;
}

a, .btn-link {
    color: #0366d6;
}

h1, h2 {
    font-weight: 900;
    margin-bottom: 1rem;
    color: #000;
}

h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.75rem;
}

app {
    flex-direction: column;
    position: relative;
    display: flex;
}

.main {
    flex: 1;
    margin-bottom: 60px;
}

.content {
    padding-top: 1.1rem;
}

.searchbar {
    max-width: 600px;
}