@inherits LayoutComponentBase

<header class="header flex-column flex-wrap border-bottom shadow-sm border-light" style="overflow-y: auto">
    <Navbar />
</header>

<main class="main container" style="padding-top: 30px">
    <div class="content px-4 py-2">
        @Body
    </div>
</main>