@inject NavigationManager NavigationManager

<BSNavbar IsExpand="true" IsDark="false">
    <BSNavbarBrand Href="/">Arbetsprov</BSNavbarBrand>
    <form class="mx-auto w-100 searchbar" @onsubmit:preventDefault @onsubmit="OnSearchForSku" >
        <BSBasicInput InputType="InputType.Text" @bind-Value="Query" Class="w-100" id="searchbar" name="searchbar" PlaceHolder="Search for sku ..." />
    </form>
</BSNavbar>

@code
{
    private string Query { get; set; }

    private void OnSearchForSku()
    {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}sku/{Query}", true);
    }
}